*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(250, 230, 255);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

nav .navigation ul li{
    list-style: none;
    display: inline-block;
    flex-wrap: wrap;
    padding: 15px 10px;
    margin: 10px -5px;
}

nav .navigation ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}
nav .navigation ul li a:hover{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    transition: 0.5s;
}

nav .title{
    margin: 5px 20px;
    display: flex;
    align-items: center;
}

nav .title img{
    width: auto;
    height: 60px;
    padding: 0px 5px;
    border-radius: 30px;
}

nav .title .title-names{
    align-items: center;
    justify-items: center;
}

nav .title .title-names, span, p{
    color: rgb(0, 0, 0);
    font-size: 22px;
}

nav .title .title-names p{
    font-size: 10px;
}

.content{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.content .Statement{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40rem;
    height: auto;
}

.content .Statement h1{
    font-size: 50px;
    margin: 20px 0px;
    color: rgb(0, 0, 0);
}

.content .Statement p{
    font-size: 20px;
    padding: 10px 10px;
    color: black;
}

.content .spans{
    margin-top: 10rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content .spans span{
    flex-wrap: wrap;
    display: flex;
    word-spacing: 30px;
    margin: 10px 30px;

}

.content .spans span:after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #f44336;
    margin: auto;
    transition: 0.5s;
}
.content .spans span:hover::after{
    width: 100%;
    transition: 0.5s;
}

.content .Landing-pic{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.content .Landing-pic .Pics img{
    width: 20rem;
    height: auto;
    display: grid;
    flex-wrap: wrap;
}

.content .Landing-pic img{
    width: 60%;
    height: auto;
    padding: 5px;
    box-shadow: 50px;
    display: grid;
}

.content .Landing-pic img:hover{
    transition: 0.6s;
    transform: scale(1s);
    background-color: #888888;
    box-shadow: 0px 0px 20px #888888;
    opacity: 1000;
}







/* -------------------------------- MAIN -------------------------------- */
.Main{
    min-height: 100vh;
    width: 100%;
    background-color: #582a2a;
    background-position: center;
    background-size: cover;
    position: relative;
}

.Main .contents{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; 
}

.Main .contents .Getthebest{
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    margin-top: 2rem;
}
.Main .contents .Getthebest h1{
    font-size: 35px;
    color: white;
    flex-wrap: wrap;
    display: flex;
}

.Main .contents .justify .Tables .table-content img{
    max-width: 100%;
    min-width: 1vh;
    height: auto;
    margin-bottom: 20px;
}

.Main .contents .justify{
    padding: 0;
    margin: 0;
}

.Main .contents .justify .Tables{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
    padding: 0;
}

.Main .contents .justify .Tables .table-content{
    justify-content: center;
    align-items: center;
    max-width: 20%;
    height: auto;
    flex-wrap: wrap;    
    margin: 2% 2%;
    display: flex;
    /* background-color: orange; */
    padding: 2px;
}



.Main .contents .justify .Tables .table-content .statement1 p{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    word-wrap: break-word;
    font-size: 20px;
    max-width: 20rem;
}

